certifi==2018.10.15
chardet==3.0.4
colorama==0.4.0
Django==1.10
django-crispy-forms==1.7.2
django-filter==1.1.0
djangorestframework==3.3.3
httpie==1.0.0
idna==2.7
Pygments==2.2.0
pytz==2018.7
requests==2.20.0
urllib3==1.24.1
